<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">
    <title>{% block title %}Task Manager{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
            <!-- Navigation bar content here -->
                <li><a href="/">Home</a></li>
                <li><a href="/sebastian">Sebastian</a></li>
                <li><a href="/Nicholas">Nicholas</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <!-- Footer content here -->
        <p>© 2024 7 Colored Fish. All rights reserved.</p>
    </footer>
</body>
</html>
