<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">
    <title>{% block title %}Task Manager{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <!-- Navigation bar content here -->
            <a href="/">Home</a>
            <a href="/sebastian">Sebastian</a>
            <a href="/Nicholas">Nicholas</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <!-- Footer content here -->
        <p>© 2024 7 Colored Fish. All rights reserved.</p>
    </footer>
</body>
</html>
